@import '../foundations/_colors.css';

.list__item--card {
    width: 20vw;
    height: 30vh;
    transition: .625s;
    list-style: none;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.card__text {
    margin: 0;
    font-weight: 600;
    padding: 0 1rem 0 0;
    letter-spacing: -0.125px;
    color: var(--label-accent-default);
}

.card__text--span {
    color: var(--label-accent-disabled);
}

@media screen and (min-width: 1170px) {
    .list__item--card:is(:hover, :focus-within) {
        width: 30vw;
        transition: .625s;
        color: var(--label-accent-hover);
    }
}

@media screen and (max-width: 992px) {
    .list__item--card {
      height: 60vh;
      width: calc(50% - .25rem);
    }
}

@media screen and (max-width: 480px) {
    .list__item--card {
      height: 60vh;
      width: 100%;
    }
}