---
import Layout from '../layouts/Layout.astro';
import '../../public/css/pages/index.css';
---

<Layout title="Not Found | Galeria by Campos">
	<main class="page__container">
        <section class="content__container">
            <div class="heading__container">
              <h1 class="heading__title"><span>404:</span>Not found</h1>
              <p class="heading__subtitle">
                Não foi possível encontrar a página que está procurando. 
                Ela pode ter sido tirada do ar ou apenas ter sido um erro de digitação. 
              </p>
            </div>
          </section>
	</main>
</Layout>