---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import '../../public/css/pages/index.css'
import galeria from '../../data/galeria.json';
---

<Layout 
	title="Galeria Campos"
	description="A galeria que se desdobra diante dos olhos é uma ode às memórias, um relicário de instantes capturados na imortalidade do clique. Aqui, cada fotografia é um poema visual que narra histórias de lugares onde andei, momentos que vivi e pessoas que amei."
>
	<main class="section">
		<h1 class="heading__title">Galeria <i>Campos</i></h1>
		<p class="heading__subtitle">
			A galeria que se desdobra diante dos olhos é uma ode às memórias, um relicário de instantes capturados na imortalidade do clique. Aqui, cada fotografia é um poema visual que narra histórias de lugares onde andei, momentos que vivi e pessoas que amei.
		</p>
	</main>
</Layout>
