---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import '../../public/css/pages/index.css'
import galeria from '../../data/galeria.json';
---

<Layout title="Galeria">
	<main>
		<h1 class="heading__title">Galeria by <span>Campos</span></h1>
		<p class="heading__subtitle">
			A galeria que se desdobra diante dos olhos é uma ode às memórias, um relicário de instantes capturados na imortalidade do clique. Aqui, cada fotografia é um poema visual, uma canção silenciosa que narra histórias de lugares onde pisei, vivi, amei.		</p>
		<h3 class="highlight__title">Álbum do dia <a href={galeria.url}>{galeria.nome}</a></h3>
		<ul role="list" class="highlight__list">
			{galeria.imagens.map((image) => (
				<Card
					src={image.src}
					description={image.description}
				/>
			))}
		</ul>
	</main>
</Layout>