---
import '../../public/css/components/card.css';

interface Props {
	title: string;
	place?: string;
	href: string;
}

const { href, title, place } = Astro.props;
---

<li class="list__item--card">
	<div class="card__wrapper">
		<img src={href} alt="" class="card__image"/>
		<p class="card__text">{title} <span class="card__text-span">{place || ''}</span></p>
	</div>
</li>