---
import '../../public/css/components/card.css';

interface Props {
	description: string;
	src: string;
}

const { description, src } = Astro.props;
---

<li class="list__item--card">
	<img src={src} alt={description} class="card__image"/>
</li>