---
interface Props {
	title: string;	
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="robots" content="nofollow" />
    	<meta name="author" content="Thiago Campos" />
    	<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Astro description" />
    	<link rel="preload" href="fonts/Garamond/AppleGaramond.woff2" as="font" type="font/woff2" />
    	<link rel="stylesheet" href="css/base.css" crossorigin="anonymous" />
    	<link rel="icon" href="favicon.ico" crossorigin="anonymous" />
    	<script defer src="https://analytics.eu.umami.is/script.js" data-website-id="63fecaa2-0c5b-495d-a687-8d27f9c562fe"></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
